
.article {
    text-align: justify;
    padding-top: 2rem;
}

.article_title {
    font-size: 2rem;
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
    font-weight: bold;
}

.article_title a {
    color: rgba(64,64,64,1);
}

.article_title a:hover {
    text-decoration: none;
    color: rgba(32,32,32,1);
}

.commentblock {
    background-color: whitesmoke;
}

.ribbon {
    background: rgba(228,228,228,1);
    position: absolute;
    left: -1rem;
    box-shadow: 0px 2px 4px #888;
    font-size: 1.3rem;
    text-shadow: 0px 1px 2px #bbb;
    padding: 0.2rem 1.8rem 0.2rem 0.5rem;
}

.ribbon a{
    text-decoration: none;
}

.ribbon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top:100%;
    border-width: 0.3rem 0.6rem;
    border-style: solid;
    border-color: #999 #999 transparent transparent;
}

.ribbon:before {
    content: ' ';
    position: absolute;
    width: 0.4rem;
    height: 0.1rem;
    right: -0.3rem;
    top: 0;
    border-width: 1rem 1.5rem;
    border-style: solid;
    border-color: transparent white transparent transparent;

}

.articlemanage {
    background: rgba(228,228,228,1);
    position: absolute;
    top:-1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    box-shadow: -2px 0px 4px #888;
    text-shadow: 0px 1px 2px #bbb;
    height: 5rem;
    width: 1.8rem;
}

.articlemanage a {
    text-decoration: none;
}

.articlemanage:before {
    position: absolute;
    content: ' ';
    border-width: 0.55rem 0.2rem;
    top:0rem;
    left: -0.4rem;
    border-style: solid;
    border-color: transparent #999 #999 transparent ;
}

.articlemanage:after{
    position: absolute;
    content: ' ';
    bottom:-0.4rem;
    left: -0.3rem;
    border-width: 0rem 0.8rem 1.6rem 1.6rem;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.darken {
    opacity: 0.4;
}

.pageblock {
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6rem;
}

.pageblock a {
    color: orangered;
}

.prevpage, .nextpage {
    width:12%;
    background-color: rgba(244,244,244,1);
    padding: 0.3rem 1rem ;
    border-radius: 0.3rem;
    text-shadow: 0px 1px 2px #bbb;
}

.prevpage {
    box-shadow: -3px 1px 4px #888;
    position: relative;
    float: left;
    margin-left: 3rem;
}
.prevpage:before{
    border-width: 0.8rem;
    border-style: solid;
    border-color: rgba(244,244,244,1);
    border-radius: 0.8rem;
    content: ' ';
    position: absolute;
    left: -0.8rem;
    box-shadow: -3px 0px 2px #888;
}

.nextpage {
    box-shadow: 3px 1px 4px #888;
    position: relative;
    float: right;
    margin-right: 3rem;
}

.nextpage:after{
    border-width: 0.8rem;
    border-style: solid;
    border-color: rgba(244,244,244,1);
    border-radius: 0.8rem;
    content: ' ';
    position: absolute;
    right: -0.8rem;
    box-shadow: 3px 0px 2px #888;
}

.article_links {
    margin-top: 2rem;
}
.article_links div {
    display: inline;
    font-size: large;
    font-weight: bold;
}
.article_links li {
    display: inline;
    margin-right: 0.5rem;
}

/*for markdown*/
.article_body ul {
    list-style: inside;
}
.article_body ol {
	list-style: inside decimal;
}
.article_body img {
    display: block;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    margin: 2rem auto;
    padding: 0.4rem;
    border: dotted silver;
    border-width: 0.1rem;
    box-shadow: 0 0 1rem silver;
}
