
{% extends "gitblog_base.html" %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "gitblog/css/article.css" %}>

{% endblock %}
{% block section %}
    {% for entry in entry_list %}

        <article>
                <p>
                    {{ entry.body_html|truncatewords_html:150|safe }}
                </p>
                <div class="bottom-article">
                    <ul class="meta-post">
                        <li><i class="icon-calendar"></i><a href="{% url 'reverse_gitblog_entry' entry.slug%}">
                                Modified {{ entry.pub_date|timesince }} ago</a></li>
                        <li><i class="icon-user"></i><a href="{% url 'reverse_gitblog_entry' entry.slug%}">
                                by {{ entry.author }}</a></li>

                        <li><i class="icon-comments"></i><a href="{% url 'reverse_gitblog_entry' entry.slug%}#disqus_thread "></a></li>
                    </ul>
                    <a href="{% url 'reverse_gitblog_entry' entry.slug%}" class="pull-right">Continue reading
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
        </article>
    {% endfor %}

    <div id="pagination">
        <span class="all">Page {{ page.current }} of {{ page.total }}</span>
        {% for p in page.pages %}
        {% if page.current == p %}
        <span class="current">{{ p }}</span>
        {% else %}
        <a href="{% url 'reverse_gitblog_index' p %}" class="inactive">{{ p }}</a>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}
